html, body {
  margin: 0;
  height: 100vh;
  width: 100%;
  background-color: lightskyblue;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: lightskyblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-width: 200px;
  max-height: 200px;
  border-color: black;
  border-style: solid;
}

.center {
  justify-content: center;
  align-self: center;
  text-align: center;
  align-items: center;
}

li {
  border: solid;
  width: 350px;
  padding: 5px;
  list-style: none;
  background-color: rgb(252, 205, 212);
}

.font-link {
  font-family: 'Pacifico', cursive;
  font-weight: bold;
}

.font-color {
  color: rgb(252, 205, 212);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* .background {
  background-color: lightskyblue;
  margin: 0;
  height: 100%;
  width: 100%;
} */

.nav {
  position: sticky;
  top: 0;
}